[2015-06-26 06:58] vko-online opened #1 "Allow to pass id"
Would be useful to pass id to svg element, to use it with Snap.svg

[2015-07-04 04:05] shrhdk commented on #1
Hi @vko-online,

Thank you for the proposal :smile:

I am not familiar with Snap.svg, but it looks nice.
Could you show me ideal API which you think and sample code?

[2015-07-09 12:57] prewk opened #2 "Problem with the example"
Hi, I tried running the example:

[code]

I saved the output to a file:

[code]

But it doesn't seem to work, it's just white when I open it in Chrome/Safari or trying to preview it in Finder. Am I misunderstanding how it should work?

[2015-07-09 15:08] prewk commented on #2
Hm, it seems it's only offset, increasing `y` made my text show up. Is this intended? It would be great if 0, 0 would render from upper left to lower right!

[2015-07-10 06:10] shrhdk commented on #2
I know your thought well :+1:

I think that a solution is anchor point option.
The current anchor point is `left-bottom`, but you expected `left-top`.

I will consider to add anchor point option.

[2015-07-10 06:15] prewk commented on #2
Yeah, it would be great if you could render the text and always be sure that everything rendered is visible. I'm experimenting with some kind of "subtract lowest X and Y on the coords" algorithm without knowing anything about SVG, really.. That might be a workaround as well, to trim the whitespace.

Thanks for the lib btw, only one I've found which doesn't require `node-canvas`, which in turn requ

[2015-07-12 22:16] shrhdk commented on #2
I developed this lib for the same reason as you. I am happy to help you.

I released version `2.1.0` which supports `anchor` option.

## Sample Code

[code]

## Result

[code]

[2015-07-13 06:07] prewk commented on #2
Awesome, I'll try it out! Thanks!

[2015-07-13 06:07] #2 closed

[2015-09-15 17:01] foria opened #3 "Use"
Hello, thanks for your work.
I'm just trying to use it but I don't know how to start :(
Sorry I have not so much experience with require libraries etc. but usually I use Gulp.
I tried to include index.js in a html file and checking to console log I got errors.

Please can you help me?

Thanks

[2015-09-21 06:18] shrhdk commented on #3
Sorry, text-to-svg does not support web browsers.

[opentype.js](https://github.com/nodebox/opentype.js), the base library of text-to-svg supports web browsers. And opentype.js supports SVG path by now. Please consider to use opentype.js.

The difference between opentype.js and text-to-svg is anchor option.

[2015-09-26 18:09] #3 closed

[2015-10-18 05:14] shrhdk commented on #1
Please reopen if you want to continue.

[2015-10-18 05:14] #1 closed

[2016-03-08 19:03] ghprod opened #4 "How to use it with Google Font"
Hi i want to create some text with Raleway Font (fonts.googleapis.com/css?family=Raleway)

Any idea how to achieve this?

Thanks

[2016-03-08 19:18] ghprod commented on #4
Ah i didnt read that this script support `ttf` file, so i download font from https://github.com/google/fonts/blob/master/ofl/raleway/Raleway-Bold.ttf

and use it like this

[code]

Thanks

[2016-03-08 19:18] #4 closed

[2016-03-12 08:34] shrhdk opened #5 "Simplify module layout"
Current:

[code]

Ideal:

[code]

[2016-03-12 08:35] shrhdk opened #6 "Support web browsers"

[2016-03-12 08:37] shrhdk opened #7 "Support fonts from URL"

[2016-03-12 08:40] shrhdk opened #8 "Support relative path"

[2016-04-05 06:24] ericgrosse opened #9 "Uncaught TypeError: fs.readFileSync is not a function"
I used the code from the documentation and get the following error:

`Uncaught TypeError: fs.readFileSync is not a function`

This was from a browserify setup. Using webpack, I get a similar error:

`Module not found: Error: Cannot resolve module 'fs'`

[2016-04-08 01:57] shrhdk commented on #9
Hi @ericgrosse,

This library does not support web browsers.
And I am working on this issue. #6

Please consider to use opentype.js if you need immediately.
(https://github.com/shrhdk/text-to-svg/issues/3#issuecomment-141885559)

[2016-04-08 03:13] ericgrosse commented on #9
If it's not meant to be used in a browser, then how is it meant to be used?

[2016-04-08 03:35] shrhdk commented on #9
I am using this library in a web application on Node.js.

[2016-04-08 04:06] ericgrosse commented on #9
Right, but if I wanted to use this library myself in the most minimal setup, how would I do it? Do `npm install -g text-to-svg` and use `text-to-svg` on a JavaScript file in the terminal?

[2016-04-08 04:54] shrhdk commented on #9
Yes, that's right 👍

[2016-04-08 05:09] ericgrosse commented on #9
Just tried, works well except I had to add some weird viewBox dimensions just to see the generated SVG properly.

I have a question. Every approach I've tried for converting text to SVG (your library, `opentype.js`, even Adobe Illustrator) produce paths that are **outlines around each letter**. How can I instead get the path **through each letter**? I'm trying to animate SVG text but it requires t

[2016-04-13 11:13] shrhdk commented on #9
Do you want to get the separated path data of each characters?

My understanding is in following table. Is this correct?

| Letters | Number of path |
|:-------:|:--------------:|
| o       | 1              |
| %       | 1 (NOT 3)      |
| ooo     | 3              |

[2016-04-23 08:03] shrhdk commented on #6
fix this issue on #7

[2016-04-23 08:03] #6 closed

[2016-05-03 03:52] #7 closed

[2016-05-03 03:52] #5 closed

[2016-05-05 04:47] maxmagu opened #10 "Cannot pass options.attributes to textToSVG.getSVG"
Running the first example from the readme fails

[code]

with the following error

[code]

I think there is a bug in this line: https://github.com/shrhdk/text-to-svg/blob/master/src/index.js#L134

You probably want to read from `options.attributes` instead of `attributes` there.

Great Project, keep it up!

[2016-05-05 07:59] shrhdk commented on #10
Oh, man! Thank you very much for detailed report.
I will fix this problem as soon as possible.

[2016-05-05 08:13] #10 closed

[2016-05-06 13:43] villanus opened #11 "Run in the browser?"
I am trying to do something similar with OpenType alone and have had Zero luck.
We are on a windows IIS setup, without node.

Can this work int he browser alone?
Will it weld overlapping paths?

[2016-05-07 03:08] shrhdk commented on #11
Yes, I tried text-to-svg on web browsers and it works well.
You have to build this library by [Browserify](http://browserify.org/).

Build script is in [gulpfile.babel.js#L51](https://github.com/shrhdk/text-to-svg/blob/3.0.1/gulpfile.babel.js#L51)

You can build sample script I tried for web browsers by `npm test` command.
After that, you can open `test/browser.html` to try sample script.

text-to

[2016-05-07 09:15] shrhdk commented on #11
opentype.js, the base library of text-to-svg provides the distribution for web browsers.

https://github.com/nodebox/opentype.js/tree/0.6.2/dist

#3 is related issue.

[2016-05-07 12:06] villanus commented on #11
Thanks.
I will look into the browserify thing.   =)

[2016-05-13 16:04] shrhdk commented on #11
Please reopen if you have more questions.

[2016-05-13 16:04] #11 closed

[2016-08-16 08:33] edouard-lopez opened #12 "How to write pronunciation along words?"
Hi,
I'm looking into your project to [generate chinese font with pronunciation](https://github.com/edouard-lopez/Hanzi-Pinyin-Font). One of my goal is to write [ruby text](https://www.wikiwand.com/en/Ruby_character), _i.e._ a character and next to it its pronuncuation (as show below):

![furigana example](http://www.learn-japanese-adventure.com/image-files/t3-furigana-rubi.png)

As you can see tex

[2016-08-16 08:48] edouard-lopez opened #13 "How to position rotated element inside canvas?"
Here is the code I used to rotated my text
[code]

### Generate

    node index.js 2> ruby.sv

### Result

![rotate text out of canvas](http://pix.toile-libre.org/upload/original/1471337178.png)

As you can see the text is out of the canvas (white frame).

### Question

How do I resize the canvas and position the text inside?

[2016-08-16 12:37] shrhdk commented on #12
`getMetrics` method and `getPath` method allow you to write ruby text.

Sample code is here.

[code]

Result is here.

<img width="363" alt="nihon" src="https://cloud.githubusercontent.com/assets/1025020/17698867/7b3923ca-63f8-11e6-8ea2-9825fe0f5823.png">

[2016-08-16 13:03] shrhdk commented on #13
Please consider to use `getPath` method instead of `getSVG` method.

## Sample

[code]

[code]

- Note: It is using anchor `bottom` (NOT `top`)

## Result

<img width="219" alt="hanzi" src="https://cloud.githubusercontent.com/assets/1025020/17699612/a7f6fb68-63fc-11e6-8dcb-90f26aad38c4.png">

[2016-09-04 20:59] pushgfx opened #14 "Mutli-Line Support"
Hello, I love this tool and for the most part it works well. I would like to know if it's possible to implement multi-line support? Not sure where to start. I was thinking simply create new input fields after hitting enter, then text-to-svg can loop through the inputs and create multiple paths. Or somehow recognize the the new line in a textarea field and offset those characters to be in a new row

[2016-09-06 19:42] gdad-s-river commented on #9
@ericgrosse, did you find the answer to your question? I'm about to embark on the same journey.

[2016-09-06 19:55] ericgrosse commented on #9
It's been a while, but from what I recall, I couldn't find a good automated or programmatic way of getting the path through each letter. The best I could find was complex manipulations in Photoshop/Illustrator and that didn't really interest me.

[2016-09-06 20:22] gdad-s-river commented on #9
@shrhdk, do you have a follow up on this please?

[2016-09-11 03:31] #13 closed

[2016-09-11 03:32] #12 closed

[2016-09-11 03:38] shrhdk commented on #9
@ericgrosse Could you give me an example which you made by using Photoshop/Illustrator?

[2016-09-11 03:48] shrhdk commented on #14
Thank you for your proposal. I think that a good idea 👍
I consider to implement it on next release.

[2016-09-16 19:19] gdad-s-river commented on #9
@ericgrosse, If I'm correct, instead of something like [this](http://codepen.io/netsi1964/pen/iyglK), you wanted something like [this](https://jakearchibald.com/2013/animated-line-drawing-svg/#comment-2900157859).

@ericgrosse, do you still need an example that differentiates what eric and I are trying to figure out, or is it clear now? If it's not, I've to try experimenting with getting svgs from

[2016-09-21 21:29] l00mi opened #15 "Letter-spacing, word-spacing"
Is it possible to set the spacing like in this [example](http://vanseodesign.com/web-design/svg-text-spacing-properties/)?

[2016-09-22 06:29] shrhdk commented on #15
No, they are not implemented. You can only use kerning option.

[2016-09-22 06:44] l00mi commented on #15
Thank you for the fast answer! How difficult do you think it will be to make this possible?

It seems that the letter-spacing [functionality](https://github.com/nodebox/opentype.js/blob/a95e2ecd8901800cd84b60117c73f24b13925ca1/src/font.js#L239) is already in opentype.js can this be used?

[2016-09-22 07:10] shrhdk commented on #15
Thank you for the hot information.

It will be easy to support letter-spacing option, by editing below line.

https://github.com/shrhdk/text-to-svg/blob/a5c1b08a3f6b0592ed2f9562e5791e1b2995a727/src/index.js#L127

But currently letter-spacing support has not been released yet in opentype.js.

https://github.com/nodebox/opentype.js/blob/0.6.5/src/font.js#L219

We have to wait for its release.

[2016-09-22 07:20] l00mi commented on #15
Oh, this I did not even realise. Fair enough lets wait until there is the [release](https://github.com/nodebox/opentype.js/releases/tag/0.6.6).

[2016-10-12 04:57] niftylettuce opened #16 "Missing keywords in `package.json`"
Hey - it was only because I starred this package that was I able to find it again.  You need to add more relevant keywords in your `package.json` file.  Thanks!

[2016-10-25 16:10] l00mi commented on #15
The fine folks at https://github.com/nodebox/opentype.js were nice enough to make the new  [release](https://github.com/nodebox/opentype.js/releases/tag/0.6.6).

Hope I find to make a pull request soon.

[2016-10-30 10:51] l00mi commented on #15
Anything blocking to integrate this functionality? I like to keep using your version of text-to-svg in my projects.

[2016-10-30 11:38] #15 closed

[2016-10-30 11:39] shrhdk commented on #15
I'm sorry to my late response. Your PR is perfect.

I will make new release soon.

[2016-10-30 14:36] shrhdk commented on #16
Good proposal 👍

I released v3.1.0 with some keywords.

[2016-10-30 14:36] #16 closed

[2016-10-30 14:37] l00mi commented on #15
Thank you, perfect timing!

[2016-11-01 07:23] niftylettuce opened #18 "Default anchor should be `left top`"
Otherwise the SVG is rendered outside of the viewbox.  Try a simple test and open the resulting SVG in Safari/Chrome.

Current version with `left baseline`:

![screen shot 2016-11-01 at 3 21 55 am](https://cloud.githubusercontent.com/assets/523141/19882233/84f8842a-9fe2-11e6-94a9-4c8fd433f28b.png)

With `left top`:

![screen shot 2016-11-01 at 3 21 17 am](https://cloud.githubusercontent.com/assets

[2016-11-01 07:23] niftylettuce commented on #18
By the way, this is work I discovered for <https://semaphoreci.com/niftylettuce/custom-fonts-in-emails> which uses your package!

[2016-11-01 07:24] niftylettuce commented on #18
Sorry wrong link, here it is https://github.com/crocodilejs/custom-fonts-in-emails.

[2016-11-02 18:01] niftylettuce opened #19 "Points not pixels"
We should note that the `fontSize` is points and not pixels.

[2016-11-02 18:21] niftylettuce commented on #19
Related <https://github.com/nodebox/opentype.js/issues/238>

[2016-11-02 22:20] niftylettuce opened #20 "Remove text padding / trim"
How can we remove padding around text?  The `<path>` doesn't start at position 0,0, it is padded based off font, so if we specify `fontSize: 20`, for `Arial` and `Verdana` there will be two different heights to the SVG's.

[2016-11-03 07:56] niftylettuce opened #21 "Thank you! Check out this package created with `text-to-svg`"
This package is great, check out what I made with it here <https://github.com/crocodilejs/custom-fonts-in-emails>.

[2017-01-19 15:40] kuzvac commented on #14
Yes, multiline would be awesome!

[2017-02-06 15:52] kuzvac commented on #14
@shrhdk maybe you can try to integrate https://github.com/Jam3/opentype-layout to your awesome  converter? :)

[2017-03-08 22:38] thierryskoda commented on #7
Hi @shrhdk,

I can't find a way to load fonts from URL. Example, if I have a lambda function on AWS and I want to go load a font from another server, how would I do it?

Thank you very much!
Thierry

[2017-03-31 11:25] edouard-lopez opened #22 "getPath return partial data and serie of NaN"
**related:** #23

### Env

* text-to-svg: `^3.1.0`,
* font: https://github.com/googlei18n/noto-cjk/blob/master/NotoSansTC-Regular.otf

### Code

[code]

Output:

[code]

### Error

Above is a short snippet that reproduce the but, in the context of my app I got more info:

[code]

[2017-03-31 12:52] edouard-lopez commented on #22
I tried with another content without problem:

     wǔ <path fill="black" stroke="black" id="annotation" d="M41.51 17.56L43.22 17.56L44.44 12.90C44.66 12.07 44.84 11.26 45.03 10.38L45.11 10.38C45.32 11.26 45.48 12.06 45.70 12.87L46.97 17.56L48.73 17.56L51.06 8.87L49.69 8.87L48.41 13.90C48.22 14.73 48.06 15.51 47.86 16.33L47.80 16.33C47.59 15.51 47.40 14.73 47.19 13.90L45.83 8.87L44.41 8.87L43.06 1

[2017-03-31 17:12] edouard-lopez opened #23 "Error: Text data outside of root node."
**related:** #22

### Data

This is the glyph I tried to convert to svg:
[code]

### Problem

I got the following error even when first and second element are the same.

[code]

Even if I try with latin alphabet and number I got the issue:
[code]

### Question

Do you have an idea?

[2017-03-31 21:43] edouard-lopez commented on #23
Using `DroidSansFallbackFull` fixed my problem.

[2017-03-31 21:43] #23 closed

[2017-03-31 21:43] edouard-lopez commented on #22
Using `DroidSansFallbackFull` fixed my problem.

[2017-03-31 21:43] #22 closed

[2017-04-17 06:27] villanus opened #24 "Browser Based Sample not working"
The url for browser.js referenced in the browser sample is wrong.
Once browser.js is linked it throws an error on line 7
import TextToSVG from '../src';

[2017-04-18 12:32] shrhdk commented on #24
Hi @villanus,

Please try `npm run build` to get transpiled code.

[2017-04-19 07:48] villanus commented on #24
Do I need to browserify it after?
Is it possible for you to do an update with a working web version?

I am on a windows asp setup and running node on server is not an option

Thanks

[2017-04-20 03:46] shrhdk commented on #24
No, you just need `npm run build`

I tried `/test/browser.html`, and it worked correctly.

This is my steps.

[code]

after this

1. Open `browser.html`
2. Click `load` button and see success message.
3. Click `getSVG` button

[2017-05-15 23:09] SimoneMSR commented on #24
Is it possible to use text-to-svg without gulp?
Actually I would like to use it bundling with browserify

[2017-05-16 08:30] villanus commented on #24
It did not work for me.

[2017-05-20 14:25] shrhdk commented on #24
@SimoneMSR Yes, my test code for web browser also using Browserify.

Please refer the following task:

https://github.com/shrhdk/text-to-svg/blob/b4a77854f907a0c61228c056f711ba0dfd5c0196/gulpfile.babel.js#L51

[2017-05-20 14:45] shrhdk commented on #24
@villanus

I tried with Safari, Chrome and Firefox on macOS Sierra, and it works correctly.

Could you tell me your environment?

Have you seen the `success!` message after font loading? It takes few minutes to load the font in narrow band.

[2017-05-30 18:58] SimoneMSR commented on #24
@shrhdk thanks for your reply. How do I use that script, I have included in my main.js the row

`require("text-to-svg/build/test/browser.js")`

but it prompt an error:
Cannot find module './path' from **folder**

Where am I wrong?
I have also used concatenify...but nothing.

but it prompt an error:
Cannot find module './path' from **folder**

Where am I wrong?
I have also used concatenify...but no

[2017-05-30 19:36] SimoneMSR commented on #24
Even the command
`npm run build
`
does not work. It says

I have node v 7.0.0

[2017-05-30 23:11] villanus commented on #24
Never worked for me either but I am on node 4.   Maybe you can build the web version and do a update to the code?

[2017-09-09 20:59] nearAP opened #26 "Random Errors when calling .load"
I have a call
`TextToSVG.load(fontPath, function(err, textToSVG) {}`

The err function is randomly triggered. For example, I use the same font and it could work X times and then trigger the error the X + 1 time and work again if called the X + 2 time.

Any idea what could be wrong? Is there a gotcha somewhere or some specific but minor thing that must be done?

[2017-09-11 15:05] shrhdk commented on #26
Hi @nearAP,

`load` method retrieves the font data over the network. Whether it succeed or fail depends on network quality, server settings and any factors. Please try it with small file size font data or using CDN.

[2017-09-11 23:53] nearAP commented on #26
Ok. Thanks.

[2017-09-11 23:53] #26 closed

[2017-09-15 09:43] nanom1t opened #27 "Rotate text"
Hello.

How can I rotate text for 30 degrees?

Thanks

[2017-09-24 12:05] shrhdk commented on #27
`transform` attribute with `rotate` type is useful.

Please refer https://developer.mozilla.org/en-US/docs/Web/SVG/Attribute/transform

[2017-12-26 15:02] arqhhhe commented on #6
Is this issue fixed. Can I use this library in browser environment?
If yes kindly share how to use this?

[2018-01-29 09:54] WPDreamMelody opened #28 "not support Chinese?"
## Like this :
const TextToSVG = require('text-to-svg');
const textToSVG = TextToSVG.loadSync();

const attributes = {fill: '#FF6633', stroke: '#FF6633'};
const options = {x: 0, y: 0, fontSize: 44, anchor: 'top', attributes: attributes};

const svg = textToSVG.getSVG('产品经理',options);
console.log(svg);

[2018-01-30 03:34] WPDreamMelody commented on #28
![image](https://user-images.githubusercontent.com/3898789/35546816-d5c65e92-05b0-11e8-9004-2153ceb248d9.png)

[2018-02-02 22:14] helzgate opened #29 "Always outside of canvas"
Just posting this issue in case others have the same problem.  No matter what the SVG is always outside and on top of canvas, not matter how I use anchor or don't use.   I've followed other suggestions in the issues list but nothing resolves the problem.  I'm using a TTF if that matters.

[2018-02-03 11:45] shrhdk commented on #28
@WPDreamMelody

The default font does not support Chinese.
Please specify the chinese font to the constructor.

[code]

[2018-02-03 11:56] shrhdk commented on #29
@helzgate Thank you for trying text-to-svg.

Would you tell me more information?

* What the version of Node.js you use.
* What the font file you use.

[2018-02-03 11:58] shrhdk commented on #27
Please reopen if you need.

[2018-02-03 11:58] #27 closed

[2018-02-07 20:47] easikoglu commented on #14
is there any update?

[2018-02-23 15:15] casablancaplusplus opened #30 "Support for right to left languages"
Hi,
thanks for the great job on this module,
but it seems like its not getting RTL languages correctly since it does turn the letters into svg but it seperates the letters. RTL languages like persian are concatenated.

![image](https://user-images.githubusercontent.com/12863318/36601143-97d4d98e-18c9-11e8-90c1-ebeddfe1d054.png)

while it should be: کلاه

the letters are also spitted out backwards.

[2018-02-24 06:38] WPDreamMelody commented on #28
thanks! change font can success .

[2018-02-24 07:37] #28 closed

[2018-03-07 06:08] hktalent opened #31 "转换中文时不对,utf-8?"
转换中文时不对,utf-8?
svg = textToSVG.getSVG("鸔 鸕 鸖 鸗 鸘 鸙",{
		// x:0,y:0,
		fontSize:72,
		// kerning:true,
		// letterSpacing:0,
		anchor:'center'
	});

[2018-03-07 06:49] hktalent commented on #29
me too

[2018-03-07 06:51] hktalent commented on #29
@helzgate
anchor:'top',

[2018-03-07 09:34] jeffontheground commented on #31
What is the font file parsed to the textToSVG ? Maybe your font file doesn't contain those uncommon word.
and what is the error? Please describe it more.

BTW, to show respect for others, please remove commented code and **translate your question** even if I could read Simplified Chinese.

[2018-03-12 07:40] hktalent commented on #31
@jeffontheground china char fonts

[2018-03-12 07:40] #31 closed

[2018-04-21 15:25] w121211 opened #32 "Support for rendering vertical text"
From the description it seems text-to-svg does not support render text in vertical direction, which is common in Chinese and Japanese. In SVG text, there is also a `writing-mode` option to support such functionality.

[2018-05-04 19:07] gkodosis opened #33 "How can I print/get the SVG path?"
For a project I am working on, I just need to produce and then load the SVG path produced by the input of the user, as the one given at the documentation (p.x : <svg xmlns = ...d="M5.27-54..."/></svg> ). Though, I clearly understood how the getSVG( ) method works, I can't return its value properly. Is there any easy way to do that? Thanks in advance :)

[2018-05-24 12:44] shashankkala opened #34 "Don't want a double lined path"
Hi,
I am looking for the SVG path to be a single lined path like below:

![screenshot from 2018-05-24 18-08-20](https://user-images.githubusercontent.com/36631869/40485932-7ac12c6c-5f7d-11e8-8a67-b309f76b52ee.png)

Currently,
It generates a double lined path like this :

![screenshot from 2018-05-24 18-09-50](https://user-images.githubusercontent.com/36631869/40486021-ba943fdc-5f7d-11e8-9a20-71d06

[2018-06-05 20:42] #33 closed

[2018-06-21 06:17] #34 closed

[2018-06-28 05:45] mfaheemakhtar opened #35 "List of supported attributes."
Hi, Can you provide a list of supported attributes. I've tried some but did not work.

[2018-07-03 14:18] sajjad-ser commented on #30
you can use [fa-normalize](https://github.com/arta-tm/fa-normalize)

[2018-07-05 15:10] xseignard commented on #34
Hello @shashankkala did you have any success?

[2018-07-05 18:39] mfaheemakhtar commented on #35
I was not able to use some properties. Multi-line was one of the features I was looking for.

May be you are using an older version?

P.S. I created my own module for my project.

[2018-07-05 18:39] #35 closed

[2018-07-16 08:28] thany opened #37 "Emoji render as X"
Emoji render as two [X] boxes each. I didn't try all of them, just 😎 and 💩.

Might be something to do with `charCodeAt` vs `codePointAt`? Or something along those lines? Just guessing.

[2018-07-31 03:13] younanjo opened #38 "SVG is cut off when using small fontSize"
Given the following:

[code]

the resulting SVG:

[code]

has the left corner cut off? Is this a known issue or am i missing an attribute that can help with this issue?

[2018-07-31 19:26] canyoudev opened #39 "How to set dimensions?"
I need text to be applied to much bigger image. How I can set width and height?

[2018-10-18 16:27] kaldrenon opened #40 "Support for data-url fonts?"
I don't see anything in the documentation about loading a font via data-url, so my guess is that this isn't supported, but I would like to confirm that.

If that is true, is there a suggestion for how I could convert text to a path when I only have the data-url of a font?

If data-urls *can* be used, could the Readme include an example for how to use it?

[2018-12-16 08:14] shrhdk commented on #24
Hi @pyjack,

Please try the following steps.

1. Build the code in the project root directory.

[code]
2. Open `test/browser.html` with Web Browser.

[2018-12-19 09:58] arnaudambro opened #41 "horizontal alignment: justify"
Hello,

How can I manage to toggle options in order to get a `horizontal alignment: justify` ? I guess there would be something to do with `letterSpacing` ?

[2019-01-24 19:51] thesamprice opened #42 "Path overlap"
Does anyone have any good ideas on how to remove path overlaps?
Or recommend a different file format?

From what I gathered ttf files describe character boundaries not paths.

Single line ttfs (often used for laser cutting / cnc programs) overlap their outside, and inside boundaries.

in example using the the cam bam fonts
`http://www.mrrace.com/CamBam_Fonts/`

[code]

[code]
Do otf file formats s

[2019-02-06 10:07] TimotheAlbouy opened #43 "Outline text?"
Is it possible to outline the text created with this module? For example, I would like to write text in white and outlined in black. This feature is possible with the vectorize-text module.

[2019-02-26 16:48] GuiRitter commented on #40
They can be used, at least for a browser environment. I use it like this (based on README snippet):

[code]

According to what I read around, only TTF works. Also, if you're on Node, you can use this, but you need to do some hacking:
1. Locate your project's `node_modules` folder;
2. Locate the `opentype.js` folder;
3. Open `opentype.js/src/opentype.js`;
4. Locate this part of the code: `function

[2019-03-04 04:57] ovensi opened #44 "Can't resolve './build/src/index.js'"
I can't run v3.1.4 ,` Can't resolve './build/src/index.js'`.
I found your `index.js`file
[code]
And I can't found the folder named `build`in 3.1.4.
Maybe you should change it to
[code]

[2019-03-04 06:21] mambahao commented on #44
+1

[2019-03-05 12:01] fxa76 commented on #44
just in case you are stuck with this here is what worked for me :
1. Git clone the repository
2. npm install
3 npm run-script build
4. copy the build directory in the node_modules/text-to-svg of your project

[2019-03-10 11:56] shrhdk commented on #44
@ovensi and everyone.

Thank you for reporting, and I'm sorry for the problem.
I am working on fix this issue.

[2019-03-10 12:05] shrhdk commented on #44
I released v3.1.5 including `build/src/index.js`. Could you try this version?

[2019-03-11 04:53] pentacular commented on #7
Node also cannot load fonts by url.

Exposing the underlying parse interface of opentype would allow the caller to solve the problem.

[2019-03-13 10:35] #44 closed

[2019-03-25 12:43] lavolp3 opened #46 "One path for every letter"
Currently all letters are combined to one path.

Is it possible to have an option to create one path per letter?
Then it would be possible to animate the text letter by letter.

[2019-03-25 15:00] Masterxilo opened #47 "Problem when using this in angular"
I recently wanted to use this in an angular 7 project and I got

[code]

[2019-03-25 15:01] Masterxilo commented on #47
The solution is to use `npm install path` to install the 'path' module which native nodejs provides by itself but must be manually installed for webpack to understand it.

[2019-03-25 15:04] Masterxilo commented on #47
'npm install process' is also necessary to avoid the subsequent error message in the browser

[code]

[2019-03-25 15:07] Masterxilo commented on #47
That actually does not fix the problem.

It is well known that angular has a problem with these libraries... see for example https://blog.lysender.com/2018/07/angular-6-cannot-resolve-crypto-fs-net-path-stream-when-building-angular/

Now how can I use this in an Angular client application successfully?

[2019-03-25 15:24] Masterxilo commented on #47
I had other problems like

[code]

I could finally solve the problem using the following HACKFIX (after npm install'ing process and path):
[code]

[2019-03-25 15:25] Masterxilo commented on #47
Which browserification library was used in this project?

[2019-04-05 12:13] lavolp3 commented on #46
I have build a hack in my project which converts the svg into a multi-path one. Works good but obviously amateurishly coded. I'm a beginner in JS. Maybe it helps somehow

[code]

[2019-05-11 23:17] GuiRitter opened #48 "Access denied in Internet Explorer 11"
Hi everyone.

I've experienced an error when trying to use this library in Internet Explorer in an app created with `create-react-app`.

Apart from having to use `serve` to see the app working in IE (as `npm start` seems to be broken right now), when I try to run `load`, I get an `Access denied` error.

I can't say where the source of the error is because, when I follow the error line and column i

[2019-06-27 16:37] ikoruk commented on #24
It still does not work, `path` is not defined in browsers, only in node.

[2019-07-03 13:12] chf007 opened #49 "Whether font-weight Settings are supported"
How to set font-weight?

[2019-07-09 08:17] Sandural opened #50 "Whether font shadow Settings are supported"
font shadow

[2019-07-09 14:35] shrhdk commented on #50
Shadow settings are not supported.
However, you can use SVG's "feOffset" feature.

https://www.w3schools.com/graphics/svg_feoffset.asp

[2019-07-09 14:43] shrhdk commented on #49
I don't know how to control font weight options.
As a workaround you can make the text thicker by making the stroke wider.

[2019-07-09 15:01] shrhdk commented on #48
Thank you for your detailed bug report.

I'm sorry for that I can not verify your test app because I am not familiar to React and I don't have Windows environment.

In your project, the font file is encoded in Data URI Scheme.

However, it seems that Internet Explorer does not support `application/font-ttf` in Data URI Scheme.

https://docs.microsoft.com/en-us/previous-versions//cc848897(v=vs.85)

[2019-07-09 15:09] shrhdk commented on #43
Will the image look like this?

![image](https://user-images.githubusercontent.com/1025020/60900212-caab3700-a2a6-11e9-8c75-8b5608acd264.png)

If so, you can use attributes options like this.

[code]

[2019-07-09 15:22] shrhdk commented on #46
Good hack :+1: I do not have something better than your idea.

However, It is more efficient to directly process the raw path data output by opentype.js used by text-to-svg.

Older version of text-to-svg does that.

https://github.com/shrhdk/text-to-svg/blob/2.1.0/src/index.js#L65
https://github.com/shrhdk/text-to-svg/blob/2.1.0/src/index.js#L23-L38

[2019-07-09 15:29] shrhdk commented on #21
@niftylettuce Thank you for using my lib. It looks useful.

[2019-07-09 15:29] #21 closed

[2019-07-10 03:15] GuiRitter commented on #48
Thanks for the response. I replaced the data URI by the same font loading method as demonstrated in the project's `README.md` and confirmed that that works in IE.

Darn, who would've thought? Each day I'm more appalled by the lack of standard in these standards...

Seeing as this is not a text-to-svg issue, I'm closing it. Thanks again.

[2019-07-10 03:15] #48 closed

[2019-07-11 20:52] TimotheAlbouy commented on #43
Yes that's good, thank you very much! But the strokes are outside the edges of the letters or are they a bit inside?

[2019-07-12 01:03] Sandural commented on #50
@shrhdk thank you. I change to use canvas.🤣😋😁

[2019-07-12 01:03] #50 closed

[2019-07-12 13:38] shrhdk commented on #43
@TimotheAlbouy

They are a bit inside.

If you want the stroke to be outside the edge, try the paint-order property.

https://www.oreilly.com/ideas/elegant-outlines-with-svg-paint-order

[2019-08-20 09:33] HenrikFricke opened #52 "Calculating exact height of the text"
Right now, the `getMetrics` method returns the proportions of the path, but it calculates the height of the text including the special characters even if those characters are not used.

![Screenshot 2019-08-20 at 11 20 52](https://user-images.githubusercontent.com/8983106/63335083-083abf80-c33d-11e9-91d3-76e0e14343da.png)

![Screenshot 2019-08-20 at 11 21 16](https://user-images.githubusercontent.

[2019-08-29 04:13] shrhdk commented on #52
@HenrikFricke Good idea!

Yes, please.

[2019-09-12 07:09] HenrikFricke commented on #52
@shrhdk Hey, thanks for your response. We tried to prepare a pull request but then we figured out that our use case is very special and at some point, we realized we would need to change a lot in the library to adjust it to our fits. I'll close this issue now, but again thanks for your answer!

[2019-09-12 07:09] #52 closed

[2019-09-13 07:48] Masterxilo commented on #47
I would consider this issue resolved when it is possible to use this library in angular using
[code]
I am not quite sure of all the steps required for you guys to enable this.

For now, I can work with my hackfix mentioned above:
[code]

[2019-09-24 18:24] xueqino1 opened #53 "how to get single line path"
I want to get single line svg path,but it offers only double lines.the same problem mentioned in https://github.com/shrhdk/text-to-svg/issues/34。
I have tested several options，but no one works, Thanks for your excellent work, I would be very grateful for any suggestions。

[2020-01-02 11:47] katOstrynska opened #54 "Usage with Vuejs"
I would like to use this plugin in my Vuejs project, but I have problems with setting it right.
When in my component I use basic example:

`const TextToSVG = require('text-to-svg');
const textToSVG = TextToSVG.loadSync();
const svg = textToSVG.getSVG('hello');
console.log(svg);`

I got _TypeError: fs.readFileSync is not a function_ error.

[2020-01-13 10:11] seminelee commented on #54
fs是nodejs的内建模块。建议在nodejs服务中提供一个接口，前端再去请求。

fs is a built-in module of nodejs. It is recommended to provide an interface in the nodejs service, and then request it from the front end.

[2020-01-16 11:04] #54 closed

[2020-02-04 17:09] yecto opened #55 "Extension not working in Firefox"
I've been experimenting with the extension and it works pretty well in almost every explorer, but when I tried to export an svg from Firefox it doesn't allow me to even click the button I created for that, do you have any ideas why this is happening?, any help would be more than appreciated, I know is not an issue (at all), but I really need help.

Have a nice day,
rrrr

[2020-02-09 07:55] iamapig120 commented on #32
I want this feature too. Plz

[2020-02-10 02:08] jkhaui opened #56 "Most fonts are getting cut-off even when using anchor option"
Hi,

Thanks for the great library. I am using text-to-svg in conjunction with ~50 handwritten fonts and I notice the majority of them are prematurely trimmed on the x-axis (i.e. the first and last characters are cut in half).

A hacky workaround I'm using is to append 2 empty spaces to the start and 2 empty spaces to the end of the text before converting. It works, but obviously a proper solution

[2020-06-26 08:43] antoine382 commented on #47
Did you fix your problem ? I have exactly the same !

[2020-06-26 14:25] yoman07 opened #58 "React native support"
Hi,
does the library support react native? I tried to use it but it doesn't work.

[2020-06-26 16:14] Masterxilo commented on #47
@antoine382 look at the end of my post above. You can define the missing variables as dummy globals on the window object.

[2020-07-24 08:16] xicond opened #60 "Fill colour with image ?"
I that possible to fill the colour with image ?
like this
https://css-tricks.com/how-to-do-knockout-text/

Or any workaround ?

[2020-07-30 08:59] Juliiii commented on #49
Simal Q: How to set font-style? Orz

[2020-08-07 08:36] lavolp3 commented on #46
closed due to lack of responses

[2020-08-07 08:36] #46 closed

[2020-08-14 09:21] IJOL opened #61 "New to the npm thing"
What do i need to do to use this module as part of a HTML page served from a remote HTTPD server..

Saludos, Ignacio J. Ortega

[2020-09-10 03:44] SPxiaomin commented on #14
multiple line is supported?

[2020-09-21 06:28] chiragmakkarcnx commented on #14
@SPxiaomin did you find any solution for multiple lines?

[2020-09-21 06:29] chiragmakkarcnx commented on #37
@thany Found the same issue with a new line character. Have you found a workaround or fix for this?

[2020-09-21 09:39] thany commented on #37
@chiragmakkarcnx I must say, I dont even remember what I used this library for 😄 It's been a while and I'm on a different project now. Sorry I can't be of any more help.

[2020-11-12 04:48] banli17 commented on #43
hi @shrhdk ，paint-order attribute does not seem to work
![image](https://user-images.githubusercontent.com/12556069/98896982-480f3900-24e5-11eb-824a-2b05902ae18d.png)

[2021-02-21 05:18] kmoon2437 opened #64 "Is it possible to use ttf or woff?"

[2021-02-23 04:15] dwj-AA commented on #49
I had the same problem, and I get the heavy font from my designer.

[2021-02-26 05:49] #64 closed

[2021-03-01 05:00] neekfenwick commented on #61
I also had trouble here, so here's what I learned.  I noticed that `test/browser.html` had a link to `../build/browser.js`, rather than `./browser.js`.  Hacking this to load ./browser.js gave me an error about using import outside of a module, so I figure I'm missing a build step that would convert ES6 code.  Looking in `package.json` showed me there is a 'build' step that uses `gulp`.  So:

    $

[2021-03-03 10:21] yhuaqiang commented on #14
has multi-line supported?

[2021-04-08 16:52] rabiSharelookapp opened #65 "some question about svg"
I want the text in form of svg image how do I get image buffer from the path or attribute d  provided after the conversion

[2021-04-13 03:17] #65 closed

[2021-04-13 03:21] rabiSharelookapp opened #66 "about formatted text"
do the conversion is for plain text only . I couldn't get it for formatted text

[2021-04-21 06:44] xicond opened #67 "Font cannot be rendered properly"
https://bigfontsite.com/download/kozgopr6n-regular-opentype.html

try with this font, become squared squared block,
but success using html2canvas

[2021-04-29 10:15] ianho7 commented on #14
Looks like it won't be supported 😂

[2021-06-11 09:35] MarkDeuerling opened #68 "Text Rotation"
Is it possible to rotate the text (on any axis) and how?

[2021-09-21 08:13] KemseiZsofia opened #69 "HTML code as text"
Hi!

I wanted to transform text with little HTML code, like this: I love <u>apples</u>.  I wish apple was underlined. How can I do this?

Thanks for your answer.

[2022-02-15 08:53] marian-simonca commented on #69
Any ideas on how to use HTML code? We need to add new lines in the middle of the text

[2022-04-23 16:18] zainshabir00 opened #71 "BREAKING CHANGE: webpack < 5 used to include polyfills for node.js core modules by default."
I have installed text-to-svg plugin in my React project. But it returns error:
[code]
I have tried to install `path-browserify` and in webpack configuration i added:
[code]

But still i am getting that error. What should i do now?

[2022-06-25 07:18] richardk123 commented on #71
same problem here
zainshabir00 did you fix the issue?

[2022-10-20 07:31] liyangyangi commented on #49
I had the same problem, and I get the heavy font from my designer.